.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 10;
}

.header-nav {
  flex: 1;
}

.left-nav ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.right-nav ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.header-logo {
  flex: 0 0 auto;
  margin: 0 2rem;
}

.logo-icon svg {
  display: block;
  transform: translateY(-10px);
}

.header-nav a {
  color: var(--clr-bg-deep);
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header-nav a:hover {
  color: var(--clr-text-white);
}
